<div class="container-fluid">
<div class='row'>
    <div class='col'>
        <div class="jumbotron">
         <h1>Public Wikis</h1>
            <% @wikis.each do |wiki| %>
            <% unless wiki.private == true %>
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="media-heading">
                      <%= link_to wiki.title, wiki_path(wiki.id) %>
                    </h4>
                  </div>
                  <div class="col-md-4">
                   <%= link_to "Edit", edit_wiki_path(wiki.id), class: 'btn' %>
                   <%= link_to "Delete Wiki", wiki, method: :delete, class: 'btn', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
                  </div>
                </div>
            <% end %>
            <% end %>
         </div>
    </div>
    <% if current_user.premium? || current_user.admin? %> 
        <div class='col'>
        <div class="jumbotron">
         <h1>Private Wikis</h1>
             <% @wikis.each do |wiki| %>
             <% if wiki.private? %>
             <div class="row">
              <div class="col-md-8">
                <h4 class="media-heading">
                  <%= link_to wiki.title, wiki_path(wiki.id) %>
                </h4>
              </div>
              <div class="col-md-4">
                   <%= link_to "Edit", edit_wiki_path(wiki.id), class: 'btn' %>
                   <%= link_to "Delete Wiki", wiki, method: :delete, class: 'btn', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
                  </div>
             </div>
             <% end %>
             <% end %>
        </div>
     </div>
     <% end %>
 </div>
</div>